body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url('https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_1280.jpg'); /* Substitua pelo caminho correto da sua imagem */
    background-size: cover;
    background-attachment: fixed;
}

div {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

input[type="text"],
input[type="number"] {
    width: 98.5%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #4cae4c;
}

#loadingDiv {
    text-align: center;
    margin-top: 15px;
}

#wordResponse {
    margin-top: 15px;
    color: #666;
}

